{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cria Contato</title>
    <link rel="stylesheet" href="{% static 'contatos/css/estilo.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
</head>

<body>
    {% include 'contatos/links.html' %}
    <h1>Cria um contato</h1>
    <form method="POST" enctype="multipart/form-data">
        <fieldset style="width: max-content;">
            <legend>Formulário de Cadastro</legend>
            {% csrf_token %}
            <table class='formulario'>
                {{ formulario.as_table }}
                <tr>
                    <td></td>
                    <td><button type="submit">Cria contato</button></td>
                </tr>
            </table>
        </fieldset>
    </form>
</body>

</html>