{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atualiza Contato v2</title>
    <link rel="stylesheet" href="{% static 'contatos/css/estilo.css' %}">
</head>

<body>
    {% include 'contatos-v2/links.html' %}
    <h1>Atualização de contatos V2</h1>
    <form method="POST" class='formulario'>
        {% csrf_token %}
        <table>
            {{ form.as_table }}
            <tr>
                <td></td>
                <td><input type="submit" value="Atualiza"></td>
            </tr>
        </table>
    </form>
</body>

</html>