/* Botão fake */
.btn {
    padding: 8px 12px;
    background: #1a73e8;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
}

/* Modal escondido */
.modal {
    display: none;      /* oculto por padrão */
    position: fixed;
    top:0; 
    left:0; 
    right:0; 
    bottom:0;
    background: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
}

/* Caixa */
.modal-conteudo {
    background: white;
    padding: 20px;
    border-radius: 8px;
}

/* Quando checkbox estiver marcado -> mostra modal */
/*
Outros exemplo de seletores semelhantes
A B	descendente
A > B	filho direto
A + B	próximo irmão
A ~ B	qualquer irmão
*/
#abrirModal:checked ~ .modal {
    display: flex;
}
