/* Tema claro */
:root {
    --bg: #FFFFFF;
    --bg4: #CCCCCC;
    --fg: #000000;
    --fg8: #888888;
    --border: #888888;
}

/* Tema escuro */
.dark {
    --bg: #000000;
    --bg4: #444444;
    --fg: #FFFFFF;
    --fg8: #888888;
    --border: #888888;
}

body {
    background-color: var(--bg);
    color: var(--fg);
    transition: background-color 0.3s, color 0.3s;
    height: 100%;
}

/* Divide em duas colunas */
.container-row {
    display: flex;
    flex-direction: row;
    flex: 1;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    max-width: 100%;
    height: 100%;
}

.container-column {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

/* Estiliza o título para ficar alinhado */
.container-row h2 {
    display: inline;
    border-left: 0;
    padding-left: 0;
    padding-right: 10px;
    margin-right: 10px;
}

.lista-contatos {
    background-color: var(--bg4);
    color: var(--fg);
    width: auto;
    height: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

.um-contato {
    background-color: var(--bg);
    color: var(--fg);
    width: 100%;
    max-width: 100%;
}

.justify-content-between {
    display: flex; 
    justify-content: space-between; 
    padding: 10px;
}

.relative {
    position: relative;
    display: inline-block;
    width: 100%;
}

.relative .search-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--fg);
}

.relative input {
    width: 100%;
    padding: 8px 8px 8px 40px; /* espaço para o ícone */
    border: 1px solid var(--border);
    border-radius: 4px;
    background-color: var(--bg);
    color: var(--fg);
}

.lista-contatos .container-row {
    padding: 10px;
}

.avatar {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    object-fit: cover;  /* Garante que a imagem preencha o círculo sem distorção */
}

.nome {
    font-weight: 900;
    margin-left: 10px;
    margin-bottom: 0;
}

.telefone {
    font-size: 14px;
    color: var(--fg8);
    margin-left: 10px;
    margin-top: 0;
}

/* Footer com altura fixa de 45px */
footer {
    height: 45px;
    background-color: var(--bg);

    /* alinha o conteúdo do footer ao centro */
    display: flex;
    align-items: center;
    justify-content: center;

    /* Fixa o footer na parte inferior da página */
    position: fixed; 
    bottom: 10px; 
    left: 0px; 
    padding: 20px;
}

/* Ajuste do SVG para caber no footer */
footer svg {
    height: 35px; /* Altura um pouco menor que o footer */
    width: auto;
}